body {
    background-color: #3EECAC;
    background-image: url("https://images.pexels.com/photos/6623827/pexels-photo-6623827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}
#container {
    display: flex;
    flex-direction: column;
   }

#par {
    display: flex;
    justify-content: center;
      margin-top: 100px;
   }

#par2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
      margin-top: 100px;
    }

#button {
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    background-color: #FA8BFF;
    border: none;
}

#button:hover {
    background-color:#2BD2FF;
    color: #fff;

}

#countdown{
    display: flex;
    align-self: center;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #d5b8d7;
    color: black;
    display: none;
  
}
#question {
    display: flex;
    align-self: center;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #FA8BFF;
    color: #fff;
    display: none;
}
#answer {
    display: flex;
    align-self: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #FA8BFF;
    color: black;
    display: none;
}
